body{
	background-image: url("../img/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
}
.logo{
	position: absolute;
	left: 15% ; 
	top: -110px ; 
}
.registration{
	position: absolute;
	height: 200px ; 
	width: 600px ; 
	border-style: solid;
	border-color: blue ; 
	border: 1px solid grey;
    border-radius: 15px;
	top: 200px ;
	left: 30% ; 
	box-shadow: 10px 10px 5px #888888 ; 
	background-color: white ; 
	 

}

.registration table{
	position: absolute;
	left: 10% ;
	font-family: Riffic Free ; 
	font-size: 015px ; 

}
.registration table input[type="text"]{
	border: 1px solid #999999;
    border-radius: 15px;
    height: 20px ; 
    width: 200px ; 

}

.registration table{
	height: 1em;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: black ; 
}

